<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <div class="relative min-h-screen ">
        <footer class="bg-gray-800 text-white text-center py-4 h-30  w-full absolute left-0 right-0 bottom-0">
            <p>&copy; 2023 Wanderlust. All rights reserved.</p>
            <p>Follow us on 
                <a href="https://twitter.com" class="text-blue-400 hover:underline">Twitter</a>, 
                <a href="https://facebook.com" class="text-blue-400 hover:underline">Facebook</a>, 
                <a href="https://instagram.com" class="text-blue-400 hover:underline">Instagram</a>
            </p>
        </footer>
    </div>
</body>
</html>