<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="w-100% h-screen bg-gray-100">
    <%- include("../includes/navbar.ejs") %>
    <div class="container mt-15 mx-auto ">
        <%- include("../includes/confirmation_listing.ejs")  %>
        <%- body %>
    </div>
    <%- include("../includes/footer.ejs") %>
</body>
</html>